@model MIS4200ProjectTeam7.Models.ProfileInfo

@{
    ViewBag.Title = "My Profile Page";
}

<div class="jumbotron" style="background-color: darkslateblue">
    <h1>Your Profile</h1>
  
    <a href="http://cob.ohio.edu/mis4200team7/CoreValues/Recognition" class="btn btn-primary btn-default">Personal Recognitions &raquo;</a>
</div>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bizUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bizUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkEmail)
        </dd>

    </dl>
</div>
  
        <div class="col-sm-8 text-left">
            <h1>Total Recognitions</h1>
            <p>Type activity information into this line</p>

        </div>
        
<p>
    <a href="http://cob.ohio.edu/mis4200team7/profileinfoes/Edit/" class="btn btn-primary btn-default">Update Your Profile &raquo;</a>
    <a href="http://cob.ohio.edu/mis4200team7/Manage" class="btn btn-primary btn-default">Account Settings &raquo;</a>

