@model IEnumerable<MIS4200ProjectTeam7.Models.ProfileInfo>

@{
    ViewBag.Title = "Profile Page";
}

<div class="jumbotron" style="background-color: darkslateblue">
    <h1>Your Profile</h1>
    <a href="https://localhost:44302/profileinfoes/employeecontact" class="btn btn-primary btn-default">Personal Contact Info &raquo;</a>
    <a href="https://localhost:44302/CoreValues/Recognition" class="btn btn-primary btn-default">Personal Recognitions &raquo;</a>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bizUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkEmail)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bizUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkEmail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProfileId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProfileId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProfileId })
            </td>
        </tr>
    }

</table>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p><a href="https://localhost:44302/mis4200team7/">Landing Page</a></p>

        </div>
        <div class="col-sm-8 text-left">
            <h1>Recent Activity</h1>
            <p>Type activity information into this line</p>

        </div>
        <div class="col-sm-2 sidenav">
            <textarea class="form-control" id="comments" name="comments" placeholder="Write a Post..." rows="5"></textarea>
            <br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-default pull-left" type="submit">Post</button>
                </div>
            </div>

        </div>
    </div>
</div>
<p>
    <a href="https://localhost:44302/profileinfoes/profdetails" class="btn btn-primary btn-default">Update Your Profile &raquo;</a>
    <a href=" https://localhost:44302/mis4200team7/Manage" class="btn btn-primary btn-default">Account Settings &raquo;</a>

