@model MIS4200ProjectTeam7.Models.ProfileInfo

@{
    ViewBag.Title = "Profile Page";
}

<div class="jumbotron" style="background-color: darkslateblue">
    <h1>Employee Profile</h1>

    @*<a href="https://localhost:44302/CoreValues/Recognition" class="btn btn-primary btn-default">Personal Recognitions &raquo;</a>*@
</div>

@Html.ActionLink("Personal Recognitions", "Recognition", "coreValues", new { id = Model.ProfileId }, null)


<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bizUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bizUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkEmail)
        </dd>

    </dl>
</div>



