@model IEnumerable<MIS4200ProjectTeam7.Models.ProfileInfo>

@{
    ViewBag.Title = "Index";
}

<h2>All Profiles Leaderboard</h2>



<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bizUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empTitle)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="font-weight:bold; color: blue">
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bizUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empTitle)
            </td>

            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ProfileId })
            </td>
        </tr>





        <tr>
            <td width="100px"> &nbsp;</td>
            <td colspan="8">

                @{
                    var nomination = item.nominator.OrderByDescending(n => n.recognizationDate);
                    var totalNominations = item.nominator.Count();
                    var test = nomination.ToList();
                    <table width="100%">
                        <tr>
                            <th> Award </th>
                            <th width="50%"> Description </th>
                            <th> Date</th>
                            <th> Total Nominations = @totalNominations </th>
                        </tr>
                        <tr>

                            <td colspan="4">
                                <hr />

                            </td>
                        </tr>

                        @foreach (var cv in test)
                        {
                            <tr>
                                <td>@cv.award</td>
                                <td>@cv.description</td>

                                @{
                                    var recDate = (DateTime)cv.recognizationDate;
                                }
                                <td>@recDate.ToString("d")
                            </tr>

                        }
                    </table>

                }
            </td>
        </tr>

    }
</table>